<h5>{{model.name}}</h5>

{{#if playing}}
  <button class="btn btn-success" disabled>Sonando</button>
{{else}}
  {{#if error}}
    <button class='btn btn-danger' disabled>Error</button>
  {{else}}
    <button class="btn btn-success" {{action 'reproducir' model}}>Reproducir</button>
  {{/if}}
{{/if}}
