<p><strong>La botonera</strong> es una aplicación sencilla para subir y reproducir
  sonidos divertidos, que a partir de contribución al medio ambiente ha sido
  premiada inumerables veces:</p>


<p>
<img src="awards.jpg"/>
</p>
